{% extends 'base.html' %}
{% load static %}

{%block content %}
<br/><br/>
<ul>
<div class = "bugsection">
<h1>Bugs</h1>
<br/>
<button type="button"><a style="text-decoration:none" href="add">Add Bug</a></button>
<br/><br/>
{% for t in all_bugs %}
<div id="bugtracker">
    <p><b>Name:</b> {{t.name}}</p>
    <p><b>Description:</b> {{t.description}}</p>
    <p><b>Author:</b> {{t.author}}</p>
    {% if t.status == "todo" %}
    <!--<p><b>Status:</b> {{t.status}}</p>-->
    <b>Status: </b><span class="label label-danger">{{t.status}}</span>
    {% elif t.status == "doing" %}
    <b>Status: </b><span class="label label-warning">{{t.status}}</span>
    {% else %}
    <b>Status: </b><span class="label label-success">{{t.status}}</span>
    {% endif %}
    <p><b>Upvotes:</b> {{t.upvotes}}</p>
    <button type="button"><a style="text-decoration:none" href="upvote/{{t.id}}">Upvote</a></button>
    <br><br>
    <!--<p><b>Views:</b> {{t.views}}</p>-->
    
</div>
{% endfor %}
</ul>
</div>
{%endblock%}