{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Product Catalogue</h1>
<br/><br/>
    <div class="search">
    <form method="GET">
    <input type='text' placeholder="Search terms" name="search_terms">
    <input type='submit', value='Search'>
    </div>
    </form>
   <br/><br/>
<br/>
<button type="button"><a style="text-decoration:none" href={% url 'view_cart_link' %}>View Cart</a></button>
<br/><br/>
<br/>
<button type="button"><a style="text-decoration:none" href={% url 'remove_all_from_cart_link' %}>Clear Cart</a></button>
<br/><br/>
<div class="row row-flex">
{% for t in all_products %}
<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
<div class="panel-body">
<div class="product">
<div id="catalogue">
        <br>
        <form method='POST', action='{% url 'add_to_cart_link' id=t.id %}'>
         {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
        </form>
</div>
<img src="{% get_media_prefix %}{{t.image}}/">
</div>
<p>Name: {{t.name}}</p>
<p>Description: {{t.description}}</p>
<p>Price: ${{t.price}}</p>
<p>Category: {{t.category}}</p>
<p>Top Review of the Day: {{t.review}}</p>

</div>
</div>
{% endfor %}
{% endblock %}