{% extends 'base.html' %}
{% block content %}
<style>
    p{
        text-align:justify;
    }
</style>
<h3>Welcome to my cool,modern startup!</h3>
<p>Unicorn Attractor isn’t just about helping software makers create better products by making it easy to test user journeys. 
Unicorn Attractor is founded on the desire to deliver better web experiences, for everyone.
Many of us today use the web to access important banking and government services, for everyday conveniences like finding out when the bus arrives, skipping queues at grocery stores, and to connect to old friends. 
Access to the web and online services significantly impacts peoples' lives, and yet many online services today are inaccessible.
Our mission to create tools to make the web more accessible and to promote #a11y standards and practices.
Come, let’s build a greater web.
</p>
<h3>We're Hiring!</h3>
<p>If you think that the web needs to have more reliable and more accessible apps, join us! 
To apply, send us a mail at careers@unicornattractor.com and tell us about yourself.</p>
<h4>Software Engineer</h4>
<p>Note: In programming terms - this is the "base class" for all other roles in the Product and Engineering department. 😉
As an software engineer, you'll be working on the design, planning, and implementation of technologies for our core product UI-licious. 
You will be working on various projects across the stack, until you decide that you want to be really great at one particular specialisation.</p>
<ul>You are expected to:
<li>Be savvy about classic software engineering concepts, e.g. OOP, data structures, algorithms, RDBMS, security</li>
<li>Be savvy about modern web technologies - REST APIs, caching, responsive web design, MVC/MVVM framework</li>
<li>Be proficient with technologies (or similar equivalents) used in our front and back end stacks (refer to our technology stack below).</li>
<li>Communicate with product team & users to understand product requirements and provide support</li>
<li>Document your work</li>

</ul>
{% endblock %}